.header-container {
    background: rgba(0, 116, 217, 0.6);
    height: 120px;

    #logo {
        display: block;
        color: #fff;
        text-decoration: none;
        height: 80px;
        margin-top: 25px;

        .logo-title {
            font-family: 'Stardos Stencil', cursive;
            font-size: 4em;
            font-weight: bold;
            text-transform: uppercase;
            text-shadow:-2px 0px 0px #222;
            line-height: 98px;
            overflow: hidden;
            display: inline-block;

            .black {
                color: #111111;
                text-shadow: -1px 0px 0px #fff;
            }

            &::first-letter,
            .capital {
                font-size: 1.4em;
            }
        }

        img {
            vertical-align: top;
        }
    }
}

