<!doctype html>
<html lang="no">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">

        <title>{{ metaTags.title + ' - ' if metaTags and metaTags.title}}Marikollan 2015</title>
        <link rel="stylesheet" href="{{'/css/marikollan.css' | asset_url}}">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Stardos+Stencil:400,700'>
        <script data-main="marikollan" src="/js/lib/require.min.js?_={{bower.requirejs}}"></script>
        <script>
            require.config({
                paths: {
                    jquery: '/js/lib/jquery.min.js?_={{bower.jquery}}',
                    marikollan: '{{"/js/marikollan.js" | asset_url}}',
                    facebook: '//connect.facebook.net/en_US/sdk'
                },
                shim: {
                    facebook: {
                        exports: 'FB'
                    },
                    jquery: {
                        exports: 'jQuery'
                    }
                }
            });
        </script>

        <link rel="shortcut icon" href="/favicon.png"/>
        {% if path %}
        <link rel="canonical" href="http://2015.marikollan.no{{path}}">
        {%- endif %}
        <meta property="fb:app_id" content="369971899738545"/>
        <meta property="og:title" content="Marikollan"/>
        <meta property="og:image" content="http://img.marikollan.no/Marikollan_padded.png"/>
        <meta name="description" property="og:description" content="MarikolLAN er et rusfritt arrangement i Rælingen der datainteressert ungdom møtes og deler sine interesser." />
        <meta property="og:type" content="event" />
        <meta property="event:title" content="Marikollan" />
        <meta property="event:country-name" content="Norway" />
        <meta property="event:address" content="Marikollen Kultursal, Rælingen" />
        <meta property="event:start_time" content="2015-10-30T16:30:00.000Z" />
    </head>
    <body>
        <div id="fb-root"></div>

        <div class="header-container">
            <div class="header container">
                <a href="/" id="logo">
                    <img src="http://img.marikollan.no/marikollan_2015_logo.svg" width="90" height="76" alt="Marikollan">
                    <span class="logo-title">Marikol<span class="black">lan</span> 2015</span>
                </a>
            </div>
        </div>

        <div id="menu" class="navbar-inverse">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button
                            type="button"
                            class="navbar-toggle"
                            data-toggle="collapse"
                            data-target="#menu-collapse"
                            onclick="event.target.classList[document.getElementById('menu-collapse').classList.toggle('in') ? 'add' : 'remove']('active')"
                        >
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="menu-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/"><span class="glyphicon glyphicon-home glyphicon-white"></span> Forside</a></li>
                            <li>
                                <a href="/info/"><span class="glyphicon glyphicon-info-sign glyphicon-white"></span> Informasjon</a>
                                <div class="submenu">
                                    <a href="/info/faq">FAQ</a>
                                    <a href="/info/regler">Reglement</a>
                                    <a href="/info/pakkeliste">Pakkeliste</a>
                                    <a href="/info/forforeldre">For foreldre</a>
                                    <a href="/info/samtykkeskjema">Samtykkeskjema</a>
                                </div>
                            </li>
                            <li>
                                <a href="/konkurranser/"><span class="glyphicon glyphicon-flag glyphicon-white"></span> Konkurranser</a>
                                <div class="submenu">
                                    <a href="/konkurranser/lol">League of Legends</a>
                                    <a href="/konkurranser/cs">Counter-Strike: GO</a>
                                    <a href="/konkurranser/minecraft">Minecraft</a>
                                    <a href="/konkurranser/fifa">FIFA</a>
                                </div>
                            </li>
                            <li>
                                <a href="/hvem-er-vi"><span class="glyphicon glyphicon-user glyphicon-white"></span> Hvem er vi?</a>
                            </li>
                            <li>
                                <a href="/kontakt"><span class="glyphicon glyphicon-envelope glyphicon-white"></span> Kontakt</a>
                                <div class="submenu">
                                    <a href="/pressekontakt">Presse</a>
                                </div>
                            </li>
                            <!--<li><a href="/stream"><span class="glyphicon glyphicon-film glyphicon-white"></span> Video</li>-->
                        </ul>
                        <a href="https://www.geekevents.org/marikollan15/" class="navbar-right geekevents-tickets">
                            <span class="glyphicon glyphicon-tag"></span>&nbsp;<span id="tickets">Billetter</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container content-container">
            <div class="row">
                <div class="col-sm-9">
                    {% if Date.now() < 1446222600000 %}
                    <div class="countdown-container hide">
                        <div class="alert alert-info fade in">
                            <h4 id="time-countdown">
                                Det er
                                <span class="weeks">0</span> uke<span class="weeks-plural">r</span>,
                                <span class="days">0</span> dag<span class="days-plural">er</span>,
                                <span class="hours">0</span> time<span class="hours-plural">r</span>,
                                <span class="minutes">0</span> minutt<span class="minutes-plural">er</span> og
                                <span class="seconds">0</span> sekund<span class="seconds-plural">er</span>
                                til Marikollan!
                            </h4>
                        </div>
                    </div>
                    {% endif %}
                    <div id="content">
{{content | safe}}
                    </div>
                </div>
                <div id="sponsors" class="col-sm-3">
                    {% include 'sponsors.html' %}
                    <br>
                    <div class="fb-page" data-href="https://www.facebook.com/marikollan" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://www.facebook.com/marikollan">
                                <a href="https://www.facebook.com/marikollan">MarikolLAN</a>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-container">
            <div class="footer container">
                <p class="text-center">
                    <br>
                </p>
            </div>
        </div>

        {% include 'googleAnalytics.html' %}
    </body>
</html>
