<h3>Samarbeids&shy;partnere</h3>
<a href="http://www.ralingen.kommune.no/"><img src="http://img.marikollan.no/sponsorer/Ralingenkommune.png"/></a>
<h3>Sponsorer</h3>
<a href="http://www.dynea.com/"><img src="http://img.marikollan.no/sponsorer/Dynea_logo_2015.svg" alt="Dynea" /></a>
<a href="http://www.lions.no/club/show/R%C3%A6lingen/532"><img src="http://img.marikollan.no/sponsorer/Lionsmerke.png" alt="Lions Rælingen" style="max-width: 140px !important" /></a>
<a href="https://lillestrombanken.no/privat"><img src="http://img.marikollan.no/sponsorer/lillestrombanken.svg" alt="Lillestrømbanken" /></a>
<a href="http://www.oslotrevarefabrikk.no/"><img src="http://img.marikollan.no/sponsorer/oslotrevarefabrikk.jpg" alt="Oslo Trevarefabrikk" /></a>
<a href="http://www.dekkskift.no/"><img src="http://img.marikollan.no/sponsorer/dekkskift.png" alt="Dekkskift.no"/></a>
<a href="http://www.multicom.no/"><img src="http://img.marikollan.no/sponsorer/multicom.png" alt="Muticom.no"/></a>
<br>
<h4>Vi trenger sponsorer!</h4>
<p>
    Vil du være med å sponse arrangementet vårt og få en sponsorplass her? <a href="/kontakt">Ta kontakt</a>!
</p>
